.toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    padding: 2em;
}

.spacer {
    width: 40px;
}

a {
    text-decoration: none;
}