<!-- Content -->
<div class="content" role="main">

  <div id="filter-card" class="card-background">
    <div class="mb-5 title button-text">Filter Results</div>

    <label for="name" class="button-text">Name (contains)</label>
    <input id="name" class="mb-5" placeholder="Text string" type="text" [(ngModel)]="filter" (ngModelChange)="filterGames($event)" />
  
    <!-- FILTRARE DUPA SCOR -->
    <label for="min-score" class="button-text not-on-tablet">Minimum score</label>
    <input id="min-score" class="mb-5 not-on-tablet" placeholder="1 - 10" type="number" [(ngModel)]="minScore" (ngModelChange)="filterByScore($event)" (keypress)="onMinScoreKeyPress($event)"/>

    <label for="order" class="button-text not-on-tablet">Order by</label>
    <select id="order" name="order" class="custom-select mb-5 not-on-tablet" [(ngModel)]="order" (ngModelChange)="onOrderBy($event)">
      <option *ngFor="let o of orderOptions">{{o}}</option>
    </select>

    <div id="clear-button" class="accent-blue button-text button not-on-tablet" (click)="onClear()">Clear</div>


    <div class="tablet-only">

      <div id="min-score-group" class="column grow mr-2">
        <label for="min-score" class="button-text">Minimum score</label>
        <input id="min-score" placeholder="1 - 10" type="number" [(ngModel)]='minScore' (ngModelChange)="filterByScore($event)"/>
      </div>

      <div id="order-group" class="column grow mr-2">
        <label for="order" class="button-text">Order by</label>
        <select id="order" name="order" class="custom-select" [(ngModel)]="order" (ngModelChange)="onOrderBy($event)">
          <option *ngFor="let o of orderOptions">{{o}}</option>
        </select>
      </div>


      <div id="clear-button" class="accent-blue button-text button" (click)="onClear()">Clear</div>


    </div>
  
  </div>

  <div id="games-list">


    <div *ngIf="games.length == 0 && isLoading" class="spin-container">
      <div class="spin"></div>
    </div>

    <div *ngFor="let g of games" class="video-game-card card-background">

      <div class="video-game-left grow">

        <div class="game-rating-top accent-blue button-text">{{g.rating | number:'1.0-0' }}</div>
        
        <div class="video-game-name button-text">{{g.name}}</div>
        <div class="video-game-release mb-2">Release date: {{g.first_release_date | date:'dd/MM/yyyy' }}</div>
        <div class="video-game-summary">[Sumamry] {{g.summary}}</div>
      </div>

      <div class="video-game-right">
        <div class="video-game-rating accent-blue button-text">{{g.rating | number:'1.0-0' }}</div>
      </div>
    </div>
  </div>


</div>