.content {
    background: none;
    padding: 3em;

    display: flex;
    flex-direction: row;
    margin-bottom: 50vh;
}

// Phone
@media screen and (max-width: 500px) {
    .content {
        padding: 1em;
        flex-direction: column;
    }

    input {
        padding: 0.8em;
    }
}


// Tablet
@media screen and (max-width: 850px) {
    .content {
        padding: 1em;
        flex-direction: column;
    }
}

#filter-card {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    margin-right: 50px;

    .title {
        font-size: 16px;
        font-weight: 600;
    }
}

.not-on-tablet {
    visibility: visible;
}

.tablet-only {
    visibility: collapse;
}

// Phone
@media screen and (max-width: 500px) {
    #filter-card {
        margin-right: 0;
        margin-bottom: 50px;
    }
}

// Tablet
@media screen and (min-width: 501px) and (max-width: 850px) {
    #filter-card {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .tablet-only {
        visibility: visible;

        display: grid;
        grid-template-columns: 140px auto 100px;
    }

    .not-on-tablet {
        visibility: collapse;
    }
}

.custom-select:after 
   {
    content: '';
    display: inline-block;
    float: right;
    width: .5rem;
    height: .5rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(45deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms
  }
  
.select::after 
{
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

#clear-button {
    width: 20%;
    align-self: end;
}

@media screen and (max-width: 850px) {
    #clear-button {
        width: auto;
    }
}

#games-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.video-game-card {
    display: flex;
    flex-direction: row;
    padding: 2em;
    margin-bottom: 20px;
}

.video-game-name {
    font-weight: 600;
    font-size: 22px;
}

.video-game-left {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.video-game-right {
    display: grid;
    place-content: center;
    padding: 1em;
}

.video-game-rating {
    padding: 0.7em;
    font-size: 22px;
    font-weight: 700;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
}


@media screen and (max-width: 850px) {
    .video-game-rating {
        font-size: 16px;
        padding: 0.6em;
    }
}

.game-rating-top {
    visibility: collapse;

    padding: 0.5em;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
}

// Phone
@media screen and (max-width: 500px) {
    .video-game-card {
        padding: 1em;
        position: relative;
        margin-top: 30px
    }

    .video-game-name {
        font-size: 20px;
    }

    .video-game-left {
        margin-right: 0;
    }

    .video-game-right {
        visibility: collapse;
    }

    .video-game-summary {
        font-size: 10px;
    }

    .game-rating-top {
        visibility: visible;
        position: absolute;
        right: 10px;
        top: -15px;
    }
}

.spin-container {
    display: grid;
    place-items: center;
    position: relative;
}

@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }

.spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #182c47;
    border-bottom-color: #5692e8;
    border-radius: 50%;
    content: "";
    height: 40px;
    position: absolute;
    top: 100px;
    transform: translate3d(-50%, -50%, 0);
    width: 40px;
    height: 40px;
    will-change: transform;
  }