<div class="center">

    <div class="content">

        <div class="title mb-2">GET IN TOUCH</div>

        <div class="subtitle mb-5">The trysail lives on deck hanked onto its own dedicated sail track and ready to hoist at a moment's notice. When they need it, Ed and Ellen hoist the trysail directly from the bag. The sheet is marked and pre-trimmed to prevent the sail from flogging wildly. TRYSAIL TRACK. The trysail must have its own dedicated sail track and sheets. Period.</div>

        <div class="contact-form card-background">
            <div class="cf-title mb-2">Contact Form</div>

            <div class="row mb-2">
                <div class="column">
                    <label for="name">Name <span class="f-accent-blue">*</span></label>
                    <input id="name" placeholder="" type="text"/>
                </div>

                <div class="v-spacer"></div>

                <div  class="column">
                    <label for="email">Email <span class="f-accent-blue">*</span></label>
                    <input id="email" placeholder="" type="text"/>
                </div>

            </div>

            <div class="column full-input">
                <label for="message">Message <span class="f-accent-blue">*</span></label>
                <input multiple id="message" class="mb-1" placeholder="" type="text"/>
            </div>


            <div class="accent-blue button-text button">Send</div>
        </div>

    </div>
    
</div>